<!DOCTYPE html>
<html lang="es">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Reporte</title>
  </head>
  <body>
    <h1>Reporte</h1>
    <h2>{{tps.nombre}} {{tps.apellido}}</h2>
    <h2>{{tps.dni}}</h2>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha</th> 
            <th scope="col">Tipo de operacion</th> 
            <th scope="col">Monto</th> 
            <th scope="col">Estado</th>
            <th scope="col">Razon de rechazo</th>
          </tr>
        </thead>
        <tbody>
        {% for transaccion in tps.transacciones %}
          <tr>
            <td>{{transaccion.fecha}}</td>
            <td>{{transaccion.tipo}}</td>
            <td>{{transaccion.monto}}</td>
            <td>{{transaccion.estado}}</td>
            <td>{{rechazo[loop.index-1]}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
  </body>
</html>